*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

}

.heading{
    text-align: center;
    margin-top: 50px;
}

.container{
    /* width: 800px;
    height: 800px; */
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;

}

.gridStyle{
    border: 1px solid black;
    /* width: 48px;
    height: 48px; */
}

.set-size{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.size{
    font-size: larger;
    font-weight: 600;
}

.grid-input{
    width: 120px;
}

.buttons-container{
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 10px;
    margin-top: 45px;
    margin-left: 33%;
}

#select-color{
    display: none;
}

.buttons{
    padding: 10px;
    font-size: larger;
    font-weight: 600;
    background-color: black;
    color: white;
    cursor: pointer;
}